
{% extends 'systemapp/base.html' %}

{% block content %}

<div class="container mt-5">                                                                              <h1 class="text-center text-primary mb-4">Menu - {{ restaurant.name }}</h1>                         
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">  
        {% for item in menu_items %}  
        <div class="col">  
            <div class="card h-100 shadow-lg rounded border-0">  
                <!-- Display the image -->  
                {% if item.image %}  
                <img src="{{ item.image.url }}" class="card-img-top img-fluid" alt="{{ item.name }}" style="object-fit: cover; height: 200px;">  
                {% endif %}  <div class="card-body">                                                                                   <h5 class="card-title">{{ item.name }}</h5>                                                           <p class="card-text">{{ item.description }}</p>  
                <div class="d-flex justify-content-between align-items-center">  
                    <span class="text-success"> ₦{{ item.price }}</span>  
                    <a href="{% url 'add_to_cart' item.id %}" class="btn btn-primary">Add to Cart</a>  
                </div>                                                                                            </div>                                                                                            </div>                                                                                            </div>                                                                                          
    {% endfor %}                                                                                      </div>

</div>  
                                                                                                      <!-- Invisible Card for Spacing -->                                                                   <div class="card shadow-sm border-0" style="height: 80px; visibility: hidden;"></div>                 {% endblock %}                                                                                        
