{% extends 'systemapp/base.html' %}
{% block content %}
<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-lg">
                <div class="card-header text-center bg-primary text-white">
                    <h2>Your Profile</h2>
                </div>
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data" class="row g-3">
                        {% csrf_token %}
			{% if profile.profile_picture %}                                                              <div class="text-center mt-4">                                                                <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" class="rounded-circle shadow" width="150">
                        </div>
                    {% endif %}
                        
                        <div class="col-12">
                            <label for="id_phone_number" class="form-label">Phone Number</label>
                            {{ form.phone_number }}
                        </div>

                        <div class="col-12">
                            <label for="id_address" class="form-label">Address</label>
                            {{ form.address }}
                        </div>

                        <div class="col-12">
                            <label for="id_profile_picture" class="form-label">Profile Picture</label>
                            {{ form.profile_picture }}
                        </div>

                        <div class="col-12 text-center">
                            <button type="submit" class="btn btn-primary w-50">Save Changes</button>
                        </div>
                    </form>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
